.masquerade-role-status {
  opacity: 0.5;
  transition: .4s ease-in-out;
  border-top-right-radius: 10px;
  background: #1d5fc3;
  position: fixed;
  z-index: 2000001;
  padding: 10px 20px;
  bottom: -50px;
  left: 0;
  -moz-box-shadow: inset -2px 2px 10px 0 #000000;
  -webkit-box-shadow: inset -2px 2px 10px 0 #000000;
  box-shadow: inset -2px 2px 10px 0 #000000;
}

.masquerade-role-status:hover,
.masquerade-role-status:focus,
.masquerade-role-status:focus-within {
  opacity: 1;
  bottom: 0;
}

.masquerade-role-status .roles {
  display: inline-block;
  position: relative;
  padding-left: 10px;
  font-size: 14px;
  color: #fff;
}

.masquerade-role-status .roles:before {
  left: -8px;
  top: -2px;
}

.masquerade-role-status .roles {
  padding-left: 20px;
}

.masquerade-role-status .roles:before {
  content: "";
  background-image: url(../svg/person.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 25px;
  position: absolute;
  background-size: 100%;
  display: inline-block;
}

.masquerade-role-status label {
  cursor: default;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}

.masquerade-role-status .reset a {
  color: #fff;
  font-size: 16px;
  margin: 0 0 10px 0;
}

.masquerade-role-status .reset a {
  margin: 10px 0 10px 0;
}
